body {
	margin: 0px;
	overflow: hidden;
	background: transparent;
	font-family: 'Lucida Console', 'Courier New', monospace;
	font-size: 18px;
	opacity: 0.8;
}

header {
	background-color: black;
}

#editor-drone-name {
	text-transform: uppercase;
	font-size: 21px;
	font-weight: bold;
	letter-spacing: 0.1em;
	color: #fff;
	padding: 0.2em;
}

#editor {
	overflow: auto;
	height: calc(100vh - 3em);
	margin: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 18px;
}

footer {
	background-color: black;
}

#compile-code--button {
	font-family: inherit;
	font-size: inherit;
	background-color: #ddd;
	border: 1px solid black;
	color: #333;
}

#compile-code--button:active {
	background-color: #fff;
	transform: translate(1px, 1px);
}
